
body{
	font-family: "Helvetica-Neue", "Helvetica", "Arial", Sans-Serif;
	font-weight: 300;
	
	color: white;
	margin: 0;
	font-size: 18;

    background-color: #65465F;
}

p{
	line-height: 1.5;
}

.container{
	max-width: 800px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;

}

.row{
    line-height: 1.75;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.title{
	font-family: 'Fjalla One', sans-serif;
	font-size: 9vw;
	
	background-image: url("https://images.unsplash.com/photo-1429152937938-07b5f2828cdd?crop=entropy&fit=crop&fm=jpg&h=800&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375");
	background-size: cover;
	background-position: center top;

	height: 40vh;
	line-height: 40vh;
	text-align: center;

	text-transform: uppercase;
	letter-spacing: .15em;
}

@media screen and (max-width: 600px) {
    .title{
    	font-size: 15vw;
    	line-height: 10vh;
    	height: 20vh;
    	padding-top: 10vh;
    	padding-bottom: 10vh;
    }
}

.description{
	margin-top: 30px;
	padding-bottom: 30px;
	font-size: 2em;
	letter-spacing: .15em;

	font-family: 'Fjalla one', sans-serif;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: white;
}
a {
	text-decoration: inherit;
	color: inherit;
}
footer{
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: white;

    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}